/* Definindo as fontes */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Schibsted+Grotesk:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Yellowtail&display=swap');

/* Definindo as variáveis das cores */
:root {
    --black: #000000;
    --white: #fffefe;
    --gray-100: #f8f8f8;
    --gray-200: #e0e0e0;
    --gray-300: #b0b0b0;
    --gray-400: #666666;
    --gray-500: #333333;
    --blue: #0097e6;
    --green: #00b894;
    --red: #ff6b6b;
    --yellow: #fbc531;
    --corpadrao: #FF7B3E;
    --corpadrao-b: #0084c1;
    --corpadrao-i: #ff7b3e;

    /* HEADER TITULO */
    --background-header: aliceblue;
    --transition-deley-header: 1s;
    --text-shadow-titulo: 1px 1px 11px rgb(39, 36, 36);
    --hfont-titulo-sletter: 0.5px;
    --font-titulo: 5rem;
    --weight-titulo: 100;

    --text-shadow-stitulo: 1px 1px 11px rgb(171, 160, 160);
    --hfont-stitulo-sletter: 5px;
    --font-stitulo: 2rem;
    --weight-stitulo: 100;



    --stroke-width: 0;
    --fill-opacity: 1;
    --stroke: #686909bb;
    --stroke-opacity: 1;
    --fill: #ed1515;
    --fundo-verde-i: #c600e7;
    --fundo-verde: #00ff00;
    --fundo-cinza: #8c8c8c;
    --font-text: 'Montserrat', sans-serif;
    width: auto;
    --pc-min-resolution: 1065px;
    --tablet-min-resolution: 0;
    --tablet-max-resolution: 0;
    --mobile-min-resolutiion: 0;
    --mobile-max-resolution: 0;
    --container-produto: 370px;
    --width-produtos: var(--container-produto);
    --width-asride: var(--container-produto);
    --height-asride: 406px;
}

/* Reset de estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilo do body */
body {
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--gray-100);
    color: var(--gray-500);


}

/* HEADER */

.carregando-carregamentos h4 {
    background-image: url('https://media.tenor.com/tFl0C5A0nT0AAAAM/kstr-kochstrasse.gif');
    height: 28vh;
    width: 28vh;
    margin: 10px auto;
    background-position: center;
    text-align: center;
    justify-content: center;

    color: white;
    border-radius: 50px;
}

/* Estilo do header */
header {
    display: flex;
    align-items: center;
    height: 395px;
    background-color: var(--background-header);
    /* background-position-y: -144px; */
    transition-delay: var(--transition-deley-header);
    flex-wrap: wrap;
    justify-content: space-around;
}

header .logo-divine svg {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    fill: #00000066;
    fill-opacity: var(--fill-opacity);
    stroke: var(--stroke);
    stroke-opacity: var(--stroke-opacity);
    stroke-width: var(--stroke-width);
    left: 136px;
    position: relative;
    top: -8px;
    width: 20px;
    /* margin: 0 auto; */
    transform: scale(7.5);
    z-index: 9;
}


header h1 {
    font-size: var(--font-titulo);
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: var(--hfont-titulo-sletter);
    font-weight: var(--weight-titulo);
    font-family: 'Manrope', sans-serif;
    text-shadow: var(--text-shadow-titulo);
}

header h2 {
    color: var(--gray-300);
    font-size: var(--font-stitulo);
    font-weight: var(--weight-stitulo);
    letter-spacing: var(--hfont-stitulo-sletter);
    text-transform: capitalize;
    font-family: 'Manrope', sans-serif;
    text-shadow: var(--text-shadow-stitulo);
}

/* Estilo do nav */
nav {
    display: flex;
    justify-content: space-evenly;
    height: 7vh;
    background-color: var(--black);
    position: relative;
    transition: all .8s ease-in-out;
    align-items: center;


}


nav.fixed {
    position: fixed;
    background-position-y: -160px;
    height: 0vh;
    /* Define a posição como fixa */
    top: 0;
    /* Fixa o elemento no topo da página */
    background-color: rgb(27, 26, 26);
    /* Define uma cor de fundo opcional para o elemento fixo */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    /* Adiciona uma sombra opcional para destacar o elemento fixo */
    width: 100%;
    /* Define a largura como 100% para ocupar todo o espaço horizontal disponível */
    z-index: 9999;
    /* Define uma ordem de empilhamento alta para que o elemento fique sempre acima dos outros elementos */
}


.logo {
    display: none;
    /* Esconde o logotipo por padrão */
    /* opacity: 0; */
    width: 50px;
    transition: all 1.2s ease-in-out;
}

.logoheader {
    width: 220px;
    /* top: 75px; */
    position: relative;
    z-index: 9;
}

nav.fixed .logo {
    opacity: 1;
}

nav ul {
    display: flex;
    list-style: none;
}

/*
  nav li {
    margin: 0 10px;
  }
  */
nav a {
    color: var(--white);
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    color: var(--blue);
}

/* estilo padrão do menu */
.menu-icon {
    /* display: inline-block; */
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 5px;
    /* height: 51px; */
    border-radius: 5px;
    width: auto;
    right: -85%;
    bottom: -91vh;
    background-color: var(--gray-400);
    z-index: 999;
    position: relative;
    transition: .9s ease-in-out;
    animation: aparicaoMenu 2s ease-in-out;
}

@keyframes aparicaoMenu {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.1;
    }

    60% {
        opacity: 0.3;
    }

    70% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.7;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

.menu-icon span {
    display: block;
    width: 35px;
    height: 7px;
    margin-bottom: 5px;
    position: relative;
    background-color: none;
    background-color: transparent;
    border-radius: 23px;
    z-index: 1;
    background-color: white;
}

.menu-icon span:last-child {
    margin-bottom: 0;
}

.menu-items {
    display: flex;
    align-items: stretch;
    position: relative;
    height: 46vh;
    list-style: none;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 99;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    top: 23vh;
    overflow-y: auto;
    left: -46px;
}

.menu-items-normal {
    width: 100%;
    position: relative;
    list-style: none;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 99;
    justify-content: flex-start;
    top: 0vh;
}


.div-menu-lateral li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 8px;
}

.div-menu-lateral li img {
    width: 18px;
}

.menu-items-aberto {
    transform: translateX(0);
    background-color: var(--gray-400);
    padding: 13px;
    transition: .5s;
    margin: 0 0 16px 0;
}

.menu-items-fechado {
    display: none;
}

.menu-items li {
    margin-bottom: 10px;
}


/* INICIO */
.principal-demas {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.principal-demas .imagem-principal {
    width: 100%;
    display: flex;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://dagesico.pythonanywhere.com/static/img/demas/bgprincipal.jpg);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    animation: movebackground 60s ease-in-out infinite;
    background-size: cover;
    margin: 0px 0 -391px 0;
}

.principal-demas-link {
    padding: 13px;
    background-color: white;
    border-radius: 5px;
    color: black;
    box-shadow: 2px 2px 2px black;
}

.principal-demas-link a {
    text-shadow: 1px 1px 2px black;
    font-size: 27px;
}

.principal-demas-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    transform: scale(.5);
    z-index: 1;
    top: -71px;

}

.loja-seletor-painel {
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    color: black;
    font-weight: 500;
}

.principal-demas-titulo h1 {
    display: flex;
    color: whitesmoke;
    font-size: 90px;
    /* background-color: rgba(61, 8, 0, 0.774); */
    /* border-radius: 33px; */
    padding: 43px 0px;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    text-shadow: 1px 1px 9px black;

}

.principal-demas-titulo .logoheader {
    top: 5px;
}

.principal-demas-titulo div {
    padding: 35px;
    color: whitesmoke;
    top: 3px;
    letter-spacing: 3px;
    position: relative;
    text-transform: capitalize;
    /* text-shadow: 1px 1px 1px white; */
    font-family: 'Roboto Mono', monospace;
    /* font-size: 32px; */
    font-weight: 100;
    font-size: 29px;
    text-shadow: 1px 1px 1px white;
    background-color: rgba(0, 0, 0, 0.658);

}

.principal-demas-titulo a {
    margin: auto 9px;
    width: auto;
}

.principal-demas-titulo div img {
    background-color: white;
    width: 50px;
    border-radius: 15px;
    padding: 8px;
}

.hoolly-wood-principal {
    display: flex;
}

.logoFunctionIndicador {

    width: 5vh;
    height: 5vh;
    border-radius: 50%;
}

.aberta {
    background-image: linear-gradient(green, black);
}

.fechada {
    background-image: linear-gradient(red, black);
}

.divisao {
    margin: -7.5vh;
}

.modolo-delvery-pn {
    z-index: 999;
    position: relative;
    height: 100vh;
}

.modolo-delvery-pn section {
    display: flex;
    padding: 190px;
}

.conteudo-principal {
    width: 100%;
    margin: -412px 0 0 0;
    z-index: 1;
}

.conteudo-principal-demas {
    background-color: white;
    position: relative;
    top: -23px;
    z-index: 999;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

/* MAIN */
/* Estilo do main */
main {
    display: flex;
    position: relative;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url("https://dagesico.pythonanywhere.com/static/img/demas/img_header.jpg");
    background-size: cover;
}



.abertura-cardapio .titulos-abertura {
    position: relative;
    margin: 0 auto;
    /* width: 83px; */
    left: -155px;
    transform: rotate3d(36, 16, 6.5, 47deg);
    top: 97px;
}

.titulos-abertura {
    position: absolute;
}

.abertura-cardapio .quadro {
    display: none;
}

.d-main-usuario-principal {
    display: flex;
    justify-content: center;
    position: relative;
    top: 55px;

}

.menu-usuario-main-principal {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-image: none;
    align-items: center;
}

/* Estilo do article */
article {
    margin: 5px;
    width: 365px;
    display: flex;
    background-image: url(https://dagesico.pythonanywhere.com/static/img/demas/claquete.svg);
    background-repeat: no-repeat;
    background-size: 370px 370px;
    height: 375px;
    background-color: #ffffff00;

    overflow: hidden;
    cursor: pointer;
    /* margin: 2px 0px; */
    transition: width 0.3s ease-in-out;
}

article .quadro {

    overflow: hidden;
    margin: 43px 603px;
    position: absolute;
}

.abertura-cardapio .quadro {
    margin: 0 0;
    right: 8px;
    height: 187px;
    width: 290px;
    top: -1px;
    position: relative;
}

.grupo-nome-descricao {
    width: 296px;
    height: 187px;
    transform: rotate3d(36, 17, 6.5, 47deg);
    top: 119px;
    left: 17px;
    position: relative;
}

.grupo-nome-descricao p {
    height: 253px;
}

.grupo-valor-descricao {
    position: relative;
    top: 82px;
    left: -116px;
    transform: rotate3d(1, -2, 61, 13deg);

}


article h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--gray-500);
    text-transform: capitalize;
    text-align: center;
    text-shadow: 0 0 1px black;
    margin-bottom: 21px;
    padding: 10px;
    letter-spacing: 5px;
    font-family: 'Cormorant Garamond', serif;
    background-color: var(--gray-200);
}

article h3 {
    font-size: 25px;
    font-weight: 900;
    width: 100px;
    color: gold;
    text-transform: capitalize;
    text-align: center;
    position: absolute;

}

article text {
    position: relative;
    top: 32px;
    left: -7px;
}

article figure {
    display: flex;
    justify-content: center;
}

article figure .dividido-img {
    width: 46.5%;
    border-style: double;
    background-position: -56px -3px;
    height: 27vh;
    /* left: 3px; */
    position: relative;
}

article figure .principal-img {
    width: 98%;
    height: 27vh;
}

article figcaption {
    position: absolute;
    width: 152px;
    font-size: 9px;
    margin-top: 222px;
    background: #00000073;
    margin-left: -101px;
    color: white;
    padding: 1px;
}

.sim .invert {
    filter: invert(100%);
}

.blur {
    filter: blur(14px) saturate(75%);
}

.pb {
    filter: grayscale(85%);
    border-radius: 19px;

}

.bloqui {
    filter: saturate(75%) brightness(80%);
}

#vertical {
    display: flex;
    flex-direction: column;
    align-items: center;

}

article figure .vertical-img {
    width: 64%;
    border-style: double;
    height: 10vh;
    margin: 0 auto;
    /* left: 3px; */
    position: relative;
    background-size: contain;
    /* background-position: 10%;*/
}

.rcon {
    justify-content: center;
    flex-direction: column;
}

#imgfigura-01,
#imgsombremesa-01,
#imgsombremesa-02 {
    background-size: cover;
    /*
    border-radius: 15px;
    */
}

#imgsobremesa-01 {
    background-image: url("https://dagesico.pythonanywhere.com/static/img/demas/sobremesa04.webp");
}

#imgsobremesa-02 {
    background-image: url("https://dagesico.pythonanywhere.com/static/img/demas/sobremesa05.webp");
}

#imgfigura-01 {
    background-image: url("https://dagesico.pythonanywhere.com/static/img/demas/gastronomiaprincipal.png");
}

#imgfigura-v01 {
    background-image: url("https://dagesico.pythonanywhere.com/static/img/demas/figura-01.webp");

}

#imgfigura-v02 {
    background-image: url("https://dagesico.pythonanywhere.com/static/img/demas/figura-02.webp");

}

#imgfigura-v03t {
    background-image: url("https://dagesico.pythonanywhere.com/static/img/demas/figura-03.webp");
    background-size: 368px;
}

#imgfigura-v04 {
    background-image: url("https://dagesico.pythonanywhere.com/static/img/demas/figura-03.webp");

}

/*
  article figure {
    margin: 15px 7px;
  }
  */
article img {
    width: 100%;
    height: auto;
}

article p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    text-indent: 5px;
    font-size: 20px;
    line-height: 1.6;
    color: var(--white);
    text-shadow: 1px 1px 1px var(--corpadrao-i);
    position: absolute;
    width: 295px;
    height: 204px;
    overflow-y: auto;
    background-color: var(--corpadrao-b);

}

.menu-usuario-main-article {
    margin: 0;
    width: auto;
    background-image: none;
    display: block;
    height: auto;
}

.menu-usuario-main-article h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--gray-500);
    text-transform: capitalize;
    text-align: center;
    text-shadow: 0 0 1px black;
    margin-bottom: 0;
    letter-spacing: 5px;
    font-family: 'Cormorant Garamond', serif;
    background-color: transparent;
}

.cardapio-usuario-menu {
    background-size: cover;
    color: white;
    cursor: pointer;
    float: left;
}

.hh-asride-menu-usuario-main {
    transition: .9s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-items: center; */
    overflow-x: auto;
    justify-content: inherit;

}

.hh-asride-menu-usuario-main h1 {
    height: 80px;
    width: 180px;
    color: var(--black);
    display: flex;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
}

.hh-asride-menu-usuario-main h1:hover,
.hh-asride-menu-usuario-main h1:active {
    text-decoration: underline rebeccapurple;
    color: red;
}

.cardapio-usuario-menu h2 {
    color: var(--black);

    text-align: center;
    border-radius: 5px;
    padding: -3px 5px;
    font-size: 17px;
    font-weight: 600;
    position: relative;
    transition: 1.1s;
    /* margin-bottom: -5px; */
    width: 146px;
    transition: 1.8s;
    box-shadow: 1px 1px 1px black;
}

.cardapio-usuario-menu h2:hover {
    background-image: linear-gradient(orange, orange, orange, rgb(251, 132, 0));
    background-color: #0000003b;
    transition: 1.8s;
}

.cardapio-usuario-menu h3 {
    color: black;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    text-transform: capitalize;
}

.cardapio-usuario-menu text {
    color: gray;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
}

.container {
    /*  overflow-y: scroll;*/
    transition: max-height 0.5s ease-out;
}

.animate-scroll {
    transform: translateY(50px);
}

.sh-asride-menu-usuario-main-produtos {
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.sh-asride-menu-usuario-main {
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}


.as-produtou-usuario {
    width: var(--width-asride);
    height: var(--height-asride);
}

.as-produtou-usuario {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    padding: 5px;
    margin: 3px;
}

.botao-cardapio-grupo {

    background-size: cover;
    margin: 5px;
    background-color: white;
    box-shadow: 1px 1px 1px black;
    height: 20vh;
    width: 20vh;
}

.botao-cardapio-grupo text,
.botao-cardapio-grupo h3 {
    display: none;
}

.container-produto-imagem {
    width: 100%;
}

.container-produto-imagem img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* position: relative; */
    width: var(--width-produtos);
    height: 237px;
    display: flex;
    /* margin-top: -15px; */
    /* margin-right: -73px; */
    /* align-items: center; */
    /* justify-content: center; */
    /* top: -3px; */


}

.container-nome {
    height: 147px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: aliceblue;
}

.avaliacao-produto {
    
    text-align: center;
    width: 100%;
    position: relative;
    color: gold;
    border-radius: 3px;
    z-index: 5;
    float: right;
    top: -6vh;

}

.fa,
.fas {
    font-weight: 900;
    margin: 10px 0;
}

.container-produto-detalhes {
    width: 100%;
}

.container-produto-detalhes text {
    display: none;
}

.container-produto-detalhes h1 {
    text-transform: capitalize;
    text-shadow: 1px 1px 1px burlywood;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    z-index: 1;

}

/* LOADING */

.loading-spinner {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.loading-spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #007bff;
    border-radius: 50%;
    animation: loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #007bff transparent transparent transparent;
}

.loading-spinner div:nth-child(1) {
    animation-delay: -0.45s;
}

.loading-spinner div:nth-child(2) {
    animation-delay: -0.3s;
}

.loading-spinner div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.loading-bar {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: #eee;
}

.loading-bar::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #007bff;
    animation: loading-bar 3s ease-in-out infinite;
}

@keyframes loading-bar {
    0% {
        width: 0%;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

h1 {
    position: relative;
    text-align: center;
}

h1::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), transparent);
    transform: scaleY(-1);
}

/* Estilo para o componente ValorProduto */
.valor-produto {
    /* margin: -24px 0 -10px 0; */
    background-image: linear-gradient(45deg, black, rgba(0, 0, 0, 0.507));
    text-align: center;
    position: relative;
    color: goldenrod;
    border-radius: 3px;
    box-shadow: 1px 1px 3px black;
    z-index: 1;
    justify-content: space-evenly;
    top: -6vh;
}

.sifrao {
    font-weight: 800;
}

/* Estilo do section */
section {
    background-color: #f8f8f84f;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
}

section h2 {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    text-indent: 15px;
    text-shadow: 1px 1px 1px black;
    width: 295px;
    position: absolute;
    top: -101px;
    left: -5px;
    background-color: var(--gray-200);
    height: 87px;
}

ul,
li {
    list-style: none;
    padding: 0 11px;
}

section article {
    margin-right: 20px;
}

/* ASRIDE */

aside {
    background-color: #f8f8f8;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 100%;
    overflow: hidden;
    /* left: -3px; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

aside h2 {
    color: #333;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

aside li {
    margin-bottom: 20px;
}

aside .li-base {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside .li-produtos,
aside .li-sobremesa {
    color: #555;
    font-size: 18px;
}

aside .li-eventos {
    color: #555;
    font-size: 18px;
    margin-bottom: 10px;
}

aside .ul-n-produtos,
aside .ul-n-sobremesas,
aside .ul-eventos {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

aside .ul-n-produtos li,
aside .ul-n-sobremesas li,
aside .ul-eventos li {
    margin-left: 10px;
}

aside .ul-happy-hour,
aside .ul-musica-ao-vivo {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
}

aside .li-hp,
aside .li-msa {
    color: #555;
}

/* CARDAPIO */

.novidades {
    max-width: 75%;
    margin: auto;
    /* definindo a largura máxima */
    overflow-x: auto;
    /* permitindo que haja uma barra de rolagem apenas na direção horizontal */
    overflow-y: hidden;
    /* desativando a barra de rolagem vertical */
    position: relative;
    /* definindo a posição relativa para permitir o posicionamento absoluto da barra de rolagem */
    margin-top: 384px;
}

.novidades::-webkit-scrollbar {
    height: 10px;
    /* definindo a altura da barra de rolagem */
}

.novidades::-webkit-scrollbar-thumb {
    background-color: black;
    /* definindo a cor da barra de rolagem */
}

.novidades::-webkit-scrollbar-track {
    background-color: transparent;
    /* definindo a cor do fundo da barra de rolagem */
}

.novidades::-webkit-scrollbar-thumb:hover {
    background-color: gray;
    /* definindo a cor da barra de rolagem quando o mouse passa por cima */
}

.novidades::-webkit-scrollbar-corner {
    background-color: transparent;
    /* definindo a cor do canto da barra de rolagem */
}

.novidades .scrollbar {
    position: absolute;
    /* definindo a posição absoluta para a barra de rolagem */
    bottom: 0;
    /* definindo a posição no rodapé da div */
    left: 0;
    /* definindo a posição à esquerda da div */
    width: 100%;
    /* definindo a largura da barra de rolagem */
    height: 10px;
    /* definindo a altura da barra de rolagem */
    background-color: black;
    /* definindo a cor da barra de rolagem */
    z-index: 1;
    /* definindo a ordem de empilhamento para ficar acima do conteúdo */
}

/* CONTEUDO */

.cont-conteudo,
.cont-conteudo-sobremesa {
    margin: 10px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
}

.cont-conteudo-sobremesa .imagens {
    display: flex;
}

.cont-conteudo img,
.cont-conteudo-sobremesa img {
    padding: 5px;
    margin: 5px;
    box-shadow: 1px 1px 5px black;
}

.cont-conteudo-texto,
.cont-conteudo-texto-sobremesa {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0.2px 0.2px 1px;
}

.cont-conteudo-texto h1,
.cont-conteudo-texto-sobremesa h1 {
    color: mediumseagreen;
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.842);
    font-size: 40px;

}

.cont-conteudo-texto h2,
.cont-conteudo-texto-sobremesa h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.842);
    font-size: 28px;

}

.cont-conteudo-texto p,
.cont-conteudo-texto-sobremesa p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    font-size: 25px;
    width: 80%;
}


.galeria-fotos-reservas {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.galeria-fotos-reservas img {
    padding: 5px;
    margin: 5px;
    box-shadow: 1px 1px 5px black;
}





/* FOOTER */
footer section {
    text-align: center;
    font-size: x-large;
}

footer img {
    z-index: 1;
}

/* Estilo do footer */
footer {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: var(--gray-400);
    flex-direction: column;
}

footer p {
    margin-top: 50px;
    color: var(--white);
}

footer aside {
    border-radius: 5px;
    margin: 5px;
}

footer img {
    width: 80px;
    margin: 8px;
}




/* Estilos adicionais */
a {
    color: var(--blue);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: var(--green);
}

button {
    padding: 10px 20px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: var(--green);
}

/* Estilos específicos para cores chamativas */
aside li.price {
    color: var(--yellow);
}

button.order {
    background-color: var(--red);
}

button.order:hover {
    background-color: var(--yellow);
}

/* estilizando a barra de rolagem em navegadores webkit */
::-webkit-scrollbar {
    width: 10px;
    /* largura da barra de rolagem */
    height: 10px;
    /* altura da barra de rolagem */
}

/* estilizando o botão de rolagem na barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #97AFC2;
    /* cor da rolagem */
    border-radius: 5px;
    /* borda arredondada */
}

/* estilizando a barra de rolagem */
::-webkit-scrollbar-track {
    background-color: black;
    /* cor da barra de rolagem */
}


.grupo-fix {
    position: fixed;
    top: 0vh;
    border-radius: 0;
    z-index: 9;
    padding: 0;
    transition: 1.9s;
}

.botao-fix {

    height: 7vh;
    transition: 1.9s;
}

.grupo-titulo-main {

    position: relative;
}

/* LOJA */
.lojas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background-size: cover;
    background-image: url(https://dagesico.pythonanywhere.com/static/img/demas/img_header.jpg);


}

select {
    background-color: var(--gray-500);
    border: none;
    color: white;
    padding: 20px;
    width: 335px;
    font-size: 26px;
    text-transform: capitalize;
}

option {
    background-color: var(--gray-300);
    color: black;
    padding: 20px;
}

.loja {
    display: flex;
    margin-bottom: 0px;
    background-color: white;
    height: 70vh;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.loja-descrica-map {
    display: flex;
    align-items: center;
}

.mapa-loja-placa,
.mapa-loja-placa-d {
    width: 400px;
    position: relative;
}

.mapa-loja-placa-d {
    left: -70px;
    top: -231px;
}

.dados-loja {
    margin: 10px;
}

.detalhes-dados-loja {
    position: relative;
    display: flex;
    background-color: var(--gray-500);
    padding: 8px 0;
    width: 526px;
    height: 500px;
    z-index: 999;
    box-shadow: 1px 1px 4px white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loja h1 {
    font-size: 64px;

    background-color: white;
    padding: 15px;
    font-weight: 100;
    font-family: 'Roboto Mono', monospace;

    color: black;
    text-transform: capitalize;
    text-align: center;
}

.loja p {
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    margin-bottom: 10px;
    color: white;
}

.loja a {
    font-size: 16px;
    margin-bottom: 10px;
    color: #1c6ea4;
}

.loja a:hover {
    text-decoration: underline;
}

.mapa-container {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}

.mapa {
    width: 100%;
    height: 100%;
}

iframe {
    position: relative;
    border-radius: 0;
    z-index: 999;
}

/* PRODUTOS */

.titulo-cardapio {
    text-align: center;
    font-size: 40px;
    background-color: dimgray;
    display: flex;
    height: 600px;
    justify-content: center;
    color: white;
    position: relative;
    align-items: center;
    text-shadow: 1px 1px 1px black;
    background-image: url("https://dagesico.pythonanywhere.com/static/img/demas/bgprincipal.jpg");
}

.cardapio {
    display: flex;
    background-color: var(--gray-200);
    flex-wrap: wrap;
    justify-content: center;
}

.cardapio-item {
    display: flex;
    justify-content: center;
    margin: 1rem;
    width: 30%;
    border-radius: 7px;
    background-color: white;

}

.cardapio-item:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
}

.produtos-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.conteiner-imagem-valor {
    position: relative;
}

.conteiner-bloco text {
    color: black;
    position: relative;
    font-size: 12px;
    top: -10px;
}

.produto-imagem {
    width: 10rem;
    position: relative;
    /* left: -11px; */
    /* top: -13px; */
    /* height: 18rem; */
    padding: -43px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.conteiner-imagem-valor h4 {
    position: absolute;
    bottom: -0.8rem;
    left: 12px;
    /* right: 0; */
    /* margin: 0 auto; */
    /* font-size: 1.2rem; */
    /* font-weight: bold; */
    text-align: center;
    color: var(--yellow);
    background-color: #c0392b;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#avaliacao-produto {
    position: absolute;
    display: flex;
    font-size: 21px;
    color: #f1c40f;
    width: 67px;
    height: 68px;
    font-weight: 200;
    padding: 10px;
    margin: 262px 10px 10px 294px;
    background-size: 109px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://img.freepik.com/vetores-premium/sinal-dourado-do-icone-da-lampada-estrela-objeto-de-ilustracao-vetorial_547150-18.jpg);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: rotate3d(-22, 115, -11, 65deg) scale(1.3);
}

.butao-compra-div-n {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.btn-adicionar,
.btn-remover {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #2ecc71;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn-remover {
    background-color: #e74c3c;
}

.btn-adicionar:hover,
.btn-remover:hover {
    background-color: #27ae60;
}

.titulo-produto {
    position: relative;
    display: flex;
    width: 295px;
    background-color: var(--corpadrao-b);
    text-transform: capitalize;
    text-align: center;
    transform: rotate3d(36, 17, 6.5, 47deg);
    height: 250px;
    top: 107px;
    letter-spacing: 9px;
    left: 12px;
    font-family: 'Montserrat', sans-serif;

    font-weight: 500;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.produtos-card p {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-bottom: 1rem;
    line-height: 1.5;
}

/* produtos */


/* SLIDE */
.sliderContainer {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0px;
    margin-bottom: 20px;
}

.sliderContainerc {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff40;
    padding: 5px;
}

.slider {
    position: relative;
    width: 100%;
    height: 303px;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.activeSlide {
    opacity: 1;
}

.sliderDescription {
    margin-top: 20px;
    text-align: center;
}

.descriptionContainer {
    margin: 70px;
    height: 294px;
    width: 285px;
    padding: 10px;
    background-color: white;
    left: -21px;
    position: relative;
    top: -59px;
}

.bn-i-botom {
    position: relative;
    margin: 0 10px;
    top: 10px;
    width: 257px;
    height: 20px;
    background-color: rgb(241 222 174);
    border-radius: 6px;
    cursor: pointer;
    transition: .8s;
    box-shadow: 1px 1px 10px black;
}

.bn-i-botom:hover {
    background-color: orange;
}

.bn-i-bottom-ativado {
    background-color: orange;
}

p {
    text-align: center;
    margin: -5px;
}

.controls {
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
    /* z-index: 999; */
    position: relative;
}

.controls button {
    margin: 0 0px;
    padding: 0 10px;
    background-color: #ffffff1e;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.controls button:hover {
    background-color: #fcfcfc7c;
    color: black;
    font-size: 3.2rem;
    width: 160px;
}

.butao-movimentos-slide {
    height: 32vh;
    width: 40px;
}

.butao-controle-slide {
    display: none;
}


/* SOBRE */
/* Estilo da seção principal */
.quem-somos {
    margin: 20px auto;
    width: 60%;
}

#sobre {
    background-color: #f2f2f2;
    padding: 50px;
}

/* Estilo do título principal */
#sobre h1 {
    color: #333;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

/* Estilo do parágrafo principal */
#sobre p {
    color: #666;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Estilo dos títulos de seção */
#sobre h2 {
    color: #333;
    font-size: 1.8rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Estilo dos ícones de seção */
#sobre i {
    color: #333;
    font-size: 2.5rem;
    margin-right: 10px;
}

/* Estilo das listas de seção */
#sobre ul {
    margin-left: 30px;
    margin-bottom: 20px;
}

/* Estilo dos itens de lista de seção */
#sobre li {
    color: #666;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Estilo das imagens de seção */
#sobre img {
    display: block;
    margin: auto;
    max-width: 100%;
    margin-bottom: 20px;
}

/* Estilo do botão de contato */
#sobre button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo do botão de contato quando hover */
#sobre button:hover {
    background-color: #666;
}

/* LOGIN */
.login-grupo-stantment {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 23vh;
}

.area-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.i-l-b-login-g {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
}

button {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #005266;
}

p {
    margin-bottom: 10px;
}

button:focus {
    outline: none;
}

button:active {
    transform: translateY(2px);
}

