    aside {
      background-color: #f8f8f8;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
      margin: 10px 3px;
    }
    
    aside h2 {
      color: #333;
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    aside ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    aside li {
      margin-bottom: 20px;
    }
    
    aside .li-base {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    aside .li-produtos,
    aside .li-sobremesa {
      color: #555;
      font-size: 18px;
    }
    
    aside .li-eventos {
      color: #555;
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    aside .ul-n-produtos,
    aside .ul-n-sobremesas,
    aside .ul-eventos {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    aside .ul-n-produtos li,
    aside .ul-n-sobremesas li,
    aside .ul-eventos li {
      margin-left: 10px;
    }
    
    aside .ul-happy-hour,
    aside .ul-musica-ao-vivo {
      margin-top: 10px;
      margin-left: 20px;
      font-size: 16px;
    }
    
    aside .li-hp,
    aside .li-msa {
      color: #555;
    }
    