/* Estilo do footer */
footer {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  background-color: var(--gray-400);
  flex-direction: column;
}

footer p {
  margin-top: 80px;
  color: var(--white);
}

tr th {
  padding: 5px 30px;
}

tr td {
  padding: 0px 30px;
}

/* Estilos adicionais */
a {
  color: var(--blue);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: var(--green);
}

iframe {
  margin: 10px 0;
  border: 0;
  border-radius: 20px;
  box-shadow: 1px 1px 2px black;
}

button {
  padding: 10px 20px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: var(--green);
}

/* Estilos específicos para cores chamativas */
aside li.price {
  color: var(--yellow);
}

button.order {
  background-color: var(--red);
}

button.order:hover {
  background-color: var(--yellow);
}

/* estilizando a barra de rolagem em navegadores webkit */
::-webkit-scrollbar {
  width: 10px;
  /* largura da barra de rolagem */
  height: 10px;
  /* altura da barra de rolagem */
}

/* estilizando o botão de rolagem na barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #97AFC2;
  /* cor da rolagem */
  border-radius: 5px;
  /* borda arredondada */
}

/* estilizando a barra de rolagem */
::-webkit-scrollbar-track {
  background-color: black;
  /* cor da barra de rolagem */
}

@media (min-width: 900px) {
  footer {
    font-size: 13px;
  }
}