.carregando-carregamentos h4 {
  background-image: url('https://media.tenor.com/tFl0C5A0nT0AAAAM/kstr-kochstrasse.gif');
  height: 28vh;
  width: 28vh;
  margin: 10px auto;
  background-position: center;
  text-align: center;
  justify-content: center;
  color: white;
  border-radius: 50px;
}

/* Estilo do header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100px; */
  background-color: rgb(33, 33, 33);
  flex-direction: column;

  background-position-y: -160px;
  transition-delay: 1s;
}

header svg {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  fill: var(--fill);
  fill-opacity: var(--fill-opacity);
  stroke: var(--stroke);
  stroke-opacity: var(--stroke-opacity);
  stroke-width: var(--stroke-width);
  left: -419px;
  position: relative;
  top: 171px;
  width: 55px;
  margin: -87px 0 0 0;
  transform: scale(1.5);

}

header h1 {
  font-size: 6rem;
  color: var(--white);
  text-transform: capitalize;
  font-family: 'Manrope', sans-serif;
  text-shadow: 1px 1px 11px black;
}

header h2 {
  color: var(--gray-300);
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 5px;
  text-transform: capitalize;
  font-family: 'Manrope', sans-serif;
  text-shadow: 1px 1px 5px white;
}

/* Estilo do nav */
nav {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  background-color: var(--gray-400);
  position: relative;
  transition: all 1.2s ease-in-out;
  align-items: center;
  background: url("http://192.168.0.50:5000/static/img/demas/bgprincipal.jpg");
  animation: movebackground 30s ease-in-out infinite;
  background-size: cover;
}


nav.fixed {
  position: fixed;
  background-position-y: -160px;
  height: 10vh;
  /* Define a posição como fixa */
  top: 0;
  /* Fixa o elemento no topo da página */
  background-color: rgb(27, 26, 26);
  /* Define uma cor de fundo opcional para o elemento fixo */
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  /* Adiciona uma sombra opcional para destacar o elemento fixo */
  width: 100%;
  /* Define a largura como 100% para ocupar todo o espaço horizontal disponível */
  z-index: 9999;
  /* Define uma ordem de empilhamento alta para que o elemento fique sempre acima dos outros elementos */
}

.logo {
  display: block;
  /* Esconde o logotipo por padrão */
  opacity: 0;
  width: 50px;
  transition: all 1.2s ease-in-out;
}

.logoheader {
  height: 200px;
  width: 220px;
  /* top: 75px; */
  position: relative;
}

nav.fixed .logo {
  opacity: 1;
}

nav ul {
  display: flex;
  list-style: none;
}

/*
nav li {
  margin: 0 10px;
}
*/
nav a {
  color: var(--white);
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: var(--blue);
}

/* estilo padrão do menu */
.menu-icon {
  display: inline-block;
  cursor: pointer;
  background-color: none;
  border: none;
  padding: 5px;
  width: auto;
  position: fixed;
  left: 290px;
  top: 577px;
  z-index: 999;
  position: fixed;
}

.menu-icon img {
  display: block;
  width: 73px;
  height: 73px;
  margin-bottom: 5px;
  position: relative;
  background-color: none;
  background-color: transparent;
  border-radius: 3px;
  z-index: 1;
}

.menu-icon span:last-child {
  margin-bottom: 0;
}

.menu-items {
  display: flex;
  align-items: stretch;
  width: -webkit-fill-available;
  height: 100vh;
  list-style: none;

  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: 99;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}


.div-menu-lateral li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 15px;


}

.div-menu-lateral li img {
  width: 18px;
}

.menu-items-aberto {
  transform: translateX(0);
  background-color: var(--gray-400);
  padding: 45px;

  transition: .5s;
}

.menu-items-fechado {
  transition: .5s;
}

.menu-items li {
  margin-bottom: 10px;
}



@media screen and (min-width: 320px) and (max-width: 800px) {
  nav.fixed {
    height: 0;
  }

  nav.fixed .logo {
    top: 50px;
    left: 25px;
    position: relative;
    display: none;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }


  .menu-items {
    width: 140px;
  }

  .fixado-botao {
    position: absolute;
  }

  .menu-items-aberto {
    transform: translateX(0);
    position: fixed;
    padding: 5px;
    right: 166px;
    bottom: 0;
    background-color: var(--gray-500);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 211px;
    transition: .5s ease-in-out;
  }

  .menu-items-fechado {
    transition: .5s;
    position: fixed;
    padding: 4px;
    left: -2px;
    bottom: 0px;
    background-color: var(--gray-400);
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }

  .menu-items-aberto li {
    width: 184px;
  }

  .menu-items .menu-items-aberto {

    width: 126px;

  }

  .menu-items-fechado li a,
  .menu-items-aberto li a {
    height: 30px;
  }

  .menu-items-aberto p {
    position: relative;
    margin: 10px;
  }

  .menu-items-aberto a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 300px;
  }

  .menu-items-fechado p {

    display: none;
  }

  .div-menu-lateral li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 15px;
    background-color: var(--stroke);
  }

  @keyframes movebackground {
    0% {
      background-position: -1300px 0;
      opacity: 0;
    }
    1%{
      opacity: 0.5;
    }
    3%{
      opacity: 1;
    }
    15% {

      background-position: -1035px 0;
    }
    50%{
      background-position: -235px 0;
    }
    90% {
      opacity: 1;


    }

    95% {
   
      opacity: 1;
    }
    97% {

      opacity: 0.5;
    }
    100% {
      background-position: -1300px 0;
      opacity: 0;
    }

  }


}



@media screen and (min-width: 801px) and (max-width: 1064px) {

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .menu-icon {
    display: none;
  }

  .menu-items li {
    margin-left: 20px;
    margin-bottom: 0;
  }

  .menu-items-aberto {
    transform: translateX(0);
    background-color: var(--gray-400);
    padding: 30px;
    height: 10px;
    margin: 10px;

    transition: .5s;
  }

  .menu-items-fechado {
    margin: 28px auto auto 591px;
  }

  .div-menu-lateral {
    position: fixed;
    display: flex;
    height: 40px;
    margin-top: -20px;
  }

  .div-menu-lateral li {
    margin: 0;
  }

  .div-menu-lateral li img {
    display: none;
  }

  .menu-items-fechado {
    margin: 28px auto auto 591px;
  }
}

@media screen and (min-width: 1065px) {
  nav.fixed {
    background-image: none;
    transition: .5s ease-in-out;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .menu-icon {
    display: none;
  }

  .menu-items-fechado {
    margin: -6px auto auto 891px;

  }

  .menu-items {
    height: 15px;

  }

  .menu-items li {
    margin-left: 20px;
    margin-bottom: 0;
  }

  .div-menu-lateral {
    display: flex;
    background-color: var(--gray-400);
  }

  .div-menu-lateral .menu-fechar-ocioso {
    display: none;
  }

  .div-menu-lateral img {
    display: none;
  }
}