.carregando-carregamentos h4 {
  background-image: url('https://media.tenor.com/tFl0C5A0nT0AAAAM/kstr-kochstrasse.gif');
  height: 28vh;
  width: 28vh;
  margin: 10px auto;
  background-position: center;
  text-align: center;
  justify-content: center;
  color: white;
  border-radius: 50px;
}

/* Estilo do header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100px; */
  background-color: rgb(33, 33, 33);
  flex-direction: column;
  background-image: url("http://192.168.0.50:5000/static/img/demas/img_header.jpg");
  background-size: cover;
  background-position-y: -160px;
  height: 30vh;
  transition-delay: 1s;
}

header svg {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  fill: var(--fill);
  fill-opacity: var(--fill-opacity);
  stroke: var(--stroke);
  stroke-opacity: var(--stroke-opacity);
  stroke-width: var(--stroke-width);
  left: -380px;
  position: relative;
  top: 94px;
  width: 57px;
  margin: -87px 0 0 0;
  transform: scale(1.5);

}

header h1 {
  font-size: 6rem;
  color: var(--white);
  text-transform: capitalize;
  font-family: 'Manrope', sans-serif;
  text-shadow: 1px 1px 11px black;
}

header h2 {
  color: var(--gray-300);
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 5px;
  text-transform: capitalize;
  font-family: 'Manrope', sans-serif;
  text-shadow: 1px 1px 5px white;
}

/* Estilo do nav */
nav {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  background-color: var(--gray-400);
  position: relative;
  transition: all 1.2s ease-in-out;
  align-items: center;

}

nav.fixed {
  position: fixed;
  height: 7vh;
  /* Define a posição como fixa */
  top: 0;
  /* Fixa o elemento no topo da página */
  background-color: rgb(27, 26, 26);
  /* Define uma cor de fundo opcional para o elemento fixo */
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  /* Adiciona uma sombra opcional para destacar o elemento fixo */
  width: 100%;
  /* Define a largura como 100% para ocupar todo o espaço horizontal disponível */
  z-index: 9999;
  /* Define uma ordem de empilhamento alta para que o elemento fique sempre acima dos outros elementos */
}

.logo {
  display: block;
  /* Esconde o logotipo por padrão */
  opacity: 0;
  width: 50px;
  transition: all 1.2s ease-in-out;
}

nav.fixed .logo {
  opacity: 1;
}

nav ul {
  display: flex;
  list-style: none;
}

/*
nav li {
  margin: 0 10px;
}
*/
nav a {
  color: var(--white);
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: var(--blue);
}

/* estilo padrão do menu */
.menu-icon {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 5px;
  width: auto;
  position: absolute;
  /* margin-right: -111px; */
  left: 80px;
  background-color: var(--gray-300);
  z-index: 999;
}

.menu-icon span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #333;
  border-radius: 3px;
  z-index: 1;
}

.menu-icon span:last-child {
  margin-bottom: 0;
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: -webkit-fill-available;
  justify-content: flex-start;
  list-style: none;
  margin: 49px auto auto auto;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: 99;
}

.menu-items-aberto {
  transform: translateX(0);
  background-color: var(--gray-400);
  padding: 4px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: .5s;
}

.menu-items-fechado {
  transition: .5s;
}

.menu-items li {
  margin-bottom: 10px;
}

@media screen and (max-width: 960px) {
  header {
    background-repeat: no-repeat;
    background-position: center center;
  }

  header h1 {
    font-size: 3rem;
    color: var(--white);
    text-transform: capitalize;
    font-family: 'Manrope', sans-serif;
    z-index: 9;
    text-shadow: 1px 1px 11px black;
  }

  header svg {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    fill: var(--fill);
    fill-opacity: var(--fill-opacity);
    stroke: var(--stroke);
    stroke-opacity: var(--stroke-opacity);
    stroke-width: var(--stroke-width);
    left: -4px;
    position: relative;
    top: 94px;
    width: 123px;
    margin: -87px 0 0 0;
    transform: scale(1.5);
    z-index: 9;
  }

  header h2 {
    color: var(--gray-300);
    font-size: 0.5rem;
    font-weight: 100;
    background: black;
    letter-spacing: 5px;
    border-radius: 8px;
    padding: 5px;
    text-transform: capitalize;
    font-family: 'Manrope', sans-serif;
    text-shadow: 1px 1px 5px white;
    z-index: 9;
  }


  .ab-cardapio {
    left: 0px;
    position: relative;
    transform: scale(0.5) rotateZ(270deg);
    
  }
  .ab-cardapio .titulo-produto{
    height: 306px;
    width: 188px;
    left: 48px;
    top: -17px;
    transform:  rotateZ(90deg);
  }
  .ab-cardapio .grupo-nome-descricao{
    height: 256px;
    width: 187px;
    left: 158px;
    top: -35px;
    transform: rotateZ(-90deg);
    position: relative;
  }
  .ab-cardapio .quadro{
    height: 306px;
    width: 188px;
    left: 48px;
    top: -17px;
    transform:  rotateZ(-90deg);
  }
  .abertura-cardapio {
    transform: scale(0.6);
    margin: -54px -113px;
    
  }

}

@media screen and (min-width: 960px) {


  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    display: none;
  }

  .menu-items {
    flex-direction: row;
    transform: none;
    margin: 0 0 0 auto;
    padding: 0;
  }

  .menu-items li {
    margin-left: 20px;
    margin-bottom: 0;
  }
}