.lojas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-size: cover;
  background-image: url(https://dagesico.pythonanywhere.com/static/img/demas/img_header.jpg);


}

select {
  background-color: var(--gray-500);
  border: none;
  color: white;
  padding: 20px;
  width: 335px;
  font-size: 26px;
  text-transform: capitalize;
}

option {
  background-color: var(--gray-300);
  color: black;
  padding: 20px;
}

.loja {
  display: flex;
  margin-bottom: 0px;
  background-color: white;
  height: 70vh;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.loja-descrica-map {
  display: flex;
  align-items: center;
}

.mapa-loja-placa,
.mapa-loja-placa-d {
  width: 400px;
  position: relative;
}

.mapa-loja-placa-d {
  left: -70px;
  top: -231px;
}

.dados-loja {
  margin: 10px;
}

.detalhes-dados-loja {
  position: relative;
  display: flex;
  background-color: var(--gray-500);
  padding: 8px 0;
  width: 526px;
  height: 500px;
  z-index: 999;
  box-shadow: 1px 1px 4px white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loja h1 {
  font-size: 64px;

  background-color: white;
  padding: 15px;
  font-weight: 100;
  font-family: 'Roboto Mono', monospace;

  color: black;
  text-transform: capitalize;
  text-align: center;
}

.loja p {
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  margin-bottom: 10px;
  color: white;
}

.loja a {
  font-size: 16px;
  margin-bottom: 10px;
  color: #1c6ea4;
}

.loja a:hover {
  text-decoration: underline;
}

.mapa-container {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
}

.mapa {
  width: 100%;
  height: 100%;
}

iframe {
  position: relative;
  border-radius: 0;
  z-index: 999;
}


@media screen and (max-width: 960px) {
  .lojas-container {
    padding: 5px;
  }

  .loja {
    flex-direction: column;
    height: 117vh;

  }

  .loja h1 {
    font-size: 39px;
    font-weight: 300;
  }

  .loja-descrica-map {
    flex-direction: column
  }

  .detalhes-dados-loja {
    width: 347px;
    height: 228px;
    z-index: 8;
  }

  iframe {
    width: 343px;
    height: 283px;
    z-index: 8;
    border: 0;
    box-shadow: 1px 1px 2px black;
  }
}