.titulo-cardapio {
    text-align: center;
    font-size: 40px;
    background-color: dimgray;
    display: flex;
    height: 600px;
    justify-content: center;
    color: white;
    position: relative;
    align-items: center;
    text-shadow: 1px 1px 1px black;
    background-image: url("http://192.168.0.50:5000/static/img/demas/bgprincipal.jpg");
}

.cardapio {
    display: flex;
    background-color: var(--gray-200);
    flex-wrap: wrap;
    justify-content: center;
}

.cardapio-item {
    display: flex;
    justify-content: center;
    margin: 1rem;
    width: 30%;
    border-radius: 7px;
    background-color: white;

}


.cardapio-item:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
}

.produtos-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.conteiner-imagem-valor {
    position: relative;
}

.conteiner-bloco text {
    color: black;
    position: relative;
    font-size: 12px;
    top: -10px;
}

.produto-imagem {
    width: 10rem;
    position: relative;
    /* left: -11px; */
    /* top: -13px; */
    /* height: 18rem; */
    padding: -43px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.conteiner-imagem-valor h4 {
    position: absolute;
    bottom: -0.8rem;
    left: 12px;
    /* right: 0; */
    /* margin: 0 auto; */
    /* font-size: 1.2rem; */
    /* font-weight: bold; */
    text-align: center;
    color: var(--yellow);
    background-color: #c0392b;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.conteiner-imagem-valor #avaliacao-produto {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.2rem;
    color: #f1c40f;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.butao-compra-div-n {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.btn-adicionar,
.btn-remover {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #2ecc71;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn-remover {
    background-color: #e74c3c;
}

.btn-adicionar:hover,
.btn-remover:hover {
    background-color: #27ae60;
}

.titulo-produto {
    /* font-size: 20px; */
    position: relative;
    display: flex;
    width: 286px;
    font-weight: bold;
    background-color: var(--black);
    /* margin: -3.5rem 0; */
    text-transform: capitalize;
    text-align: center;
    height: 188px;
    top: 42px;
    left: 7px;
    font-family: var(--font-text);
    align-items: center;
    justify-content: center;
    transition: .8s ease-in-out;
}

.titulo-produto:hover {
    background-color: var(--yellow);
}

.produtos-card p {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-bottom: 1rem;
    line-height: 1.5;
}