/* Estilo da seção principal */
.quem-somos {
  margin: 20px auto;
  width: 60%;
}

#sobre {
  background-color: #f2f2f2;
  padding: 50px;
}

/* Estilo do título principal */
#sobre h1 {
  color: #333;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

/* Estilo do parágrafo principal */
#sobre p {
  color: #666;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Estilo dos títulos de seção */
#sobre h2 {
  color: #333;
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Estilo dos ícones de seção */
#sobre i {
  color: #333;
  font-size: 2.5rem;
  margin-right: 10px;
}

/* Estilo das listas de seção */
#sobre ul {
  margin-left: 30px;
  margin-bottom: 20px;
}

/* Estilo dos itens de lista de seção */
#sobre li {
  color: #666;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* Estilo das imagens de seção */
#sobre img {
  display: block;
  margin: auto;
  max-width: 100%;
  margin-bottom: 20px;
}

/* Estilo do botão de contato */
#sobre button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo do botão de contato quando hover */
#sobre button:hover {
  background-color: #666;
}

@media screen and (max-width: 960px) {
  #sobre {
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
  }

  #sobre h1 {
    font-weight: 400;
    letter-spacing: 3px;
    background-color: var(--corpadrao);
    color: white;
  }

  #sobre p {
    margin-top: -30px;
    font-weight: 200;
    background-color: white;
    padding: 10px;
    text-align: left;
  }
}